.window {
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;

  scroll-margin-top: 65%;
  align-self: center;
  border: solid 2px #aab8c2;
  border-radius: 10px;
  height: 65%;
  width: 50%;
}
.header {
  display: flex;
  justify-content: center;
}

.sendButton {
  display: flex;
  width: 50%;
  align-self: center;
  padding-top: 2%;
  margin-bottom: 5%;
}

.bodyChat {
  justify-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  min-width: 375px;
}
.chats {
  margin: 5%;
}
.exit {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.chatbar {
  display: flex;
  justify-self: flex-end;
  position: fixed;
  z-index: 1;
  margin: 10px 12px 12px 0;
}
.chatbar:hover {
  transform: scale(1.1);
}
.chatInput {
  opacity: 0.4;
  transition: 1s;
  width: 80%;
}
.chatInput:hover {
  opacity: 1;
}
.chatButton {
  background-color: rgb(124, 42, 255);
  color: #fff;
  width: 20%;
}
.chatButton:hover {
  background-color: #fff;
  color: #fff;
  width: 40%;
}
