.window {
  justify-content: center;

  align-self: center;
  border: solid 1px #aab8c2;
  border-radius: 10px;
  height: 85%;
  width: 55%;
}
.chats {
  align-self: center;
  justify-self: center;
  border: none;
}
.button {
  display: flex;
  justify-self: flex-end;
}
.bodyChat {
  justify-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}
