/* .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.listLi {
  float: left;
} */
nav {
  overflow: hidden;
  /* position: fixed; */
  top: 0;
  width: 100%;
}
.list {
  display: flex;
  justify-content: space-around;
}
.listLi {
  list-style: none;
}
