nav {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}
.list {
  display: flex;
  justify-content: space-around;
}
.listLi {
  list-style: none;
  opacity: 0.4;
  transition: 1s;
}

.listLi:hover {
  opacity: 1;
}
