.modalcenter {
  text-align: center;
}

.list {
  text-align: left;
  padding: 0em 2em;
}

.mini {
  margin: auto;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.avatar {
  border: 1px solid rgb(124, 42, 255);
}
