/*------------------------toggle---------------------------*/
input.sw {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

input.sw + label {
  color: white;
  user-select: none;
  transition: 0.2s ease;
  display: inline-block;
  height: 30px;
  width: 51px;
  position: relative;
  box-shadow: inset 0 0 0px 2px #e4e4e4;
  border-radius: 60px;
  /* White toggle */
}

input.sw + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(76, 217, 100, 0);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}

input.sw + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  top: 50%;
  margin-top: -14px;
  left: 1px;
  border-radius: 60px;
  background: #e01b3c;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04),
    0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}

input.sw + label span {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  margin-left: 51px;
  padding-left: 16px;
}

input.sw:checked + label:before {
  width: 51px;
  background: transparent;
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1) !important;
}

input.sw:checked + label:after {
  left: 22px;
}

input.sw:checked + label {
  box-shadow: inset 0 0 0px 25px #e4e4e469;
  transition: box-shadow 2.5s cubic-bezier(0, 1.2, 0.94, 0.95);
}

/* Pen Style */
.toggleBox {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

/* #find-me {
  border: ;
} */

.main-container {
  display: grid;
  /* grid-template-rows: 30% auto auto; */
  grid-row-gap: 1rem;
}

.input-form-userlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------------------------red background---------------------------*/

.findMe {
  background: #f3ebe6;
  animation: backgroundred 2.5s infinite;
  border-radius: 8px;
}

.whiteBorder {
  border: white 1px solid;
}

@keyframes backgroundred {
  0% {
    background: transparent;
  }

  50% {
    background: #e01b3c;
  }

  100% {
    background: transparent;
  }
}
/* .back { */
/* background-color: #8a2be2; */

/* background-color: #72c89e; */
/* background-color: rgb(124, 42, 255); */
/* } */
/*-------------------------------------input-range-----------------------------------------*/
.label {
  font: 1rem "Fira Sans", sans-serif;
  text-align: center;
  text-shadow: none;
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}
input[type="range"] {
  background-color: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 32px;
  width: 35px;
  background-image: url("/imgs/cocktails.png");
  border-radius: 0;
}

input[type="range"]::-moz-range-thumb {
  height: 32px;
  width: 35px;
  background-image: url("/imgs/cocktails.png");
  border-radius: 0;
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}
.map:hover {
  transform: scale(1.3);
  transition: 1s;
}
.back {
  width: 100vw;
  height: 100vh;
}
